<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BFI Tech</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
    <link rel="stylesheet"
          th:href="@{/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet"
          th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet"
          th:href="@{/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css"
          href="@{/js/select.dataTables.min.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/Ace_Favicon.png}" />

</head>

<style>
    body {
        background-color: #F5F7FF;
    }

    .auth-form-light {
        background-color: #FFFFFF;
        margin: 0 auto;
        padding: 40px;
        max-width: 500px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    label {
        font-weight: bold;
    }

    #description, #responsibilities, #requirements, #preferences {
        height: auto;
        transition: height 0.2s;
        resize: none;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .custom-dropdown .dropdown-menu {
        position: absolute;
        transform: translate3d(0, -100%, 0);
        min-width: 100%; /* Ensures full width */
    }

    .dropdown.show.over-table .dropdown-menu {
        position: absolute !important;
        z-index: 1000;
    }
</style>

<body>
<div class="container-scroller">
    <div th:replace="fragments/topbar :: topbar"></div>
    <div class="page-body-wrapper">
        <div th:replace="recruteur/mission :: mission"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- Success Alert -->
                <div th:if="${reopenSuccess}"
                     class="alert alert-success alert-dismissible fade show"
                     role="alert" id="successAlert">
                    Nouveau poste vacant publié avec succès!
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Success Alert -->
                <div class="card">
                    <div class="card-body">
                        <div id="messageContainer"></div>
                        <h4 class="card-title"
                            style="padding-bottom: 5px; border-bottom: 2px solid #ccc;">Liste des postes vacants</h4>
                        <div class="mb-3 mt-3">
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center mr-3">
                                    <label class="mr-2"
                                           style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">Statuts:</label>
                                    <select id="statusFilter" class="custom-select">
                                        <option value="All">Tous</option>
                                        <option value="Active">Actif(ve)</option>
                                        <option value="Inactive">Inactif(ve)</option>
                                        <option value="Urgent">Urgent</option>
                                        <option value="Reopen">Rouvrir</option>
                                    </select>
                                </div>
                                <div class="d-flex align-items-center mr-3">
                                    <label class="mr-2"
                                           style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">contrat:</label>
                                    <select id="departmentSort" class="custom-select"></select>
                                </div>
                                <div class="d-flex align-items-center">
                                    <label class="mr-2"
                                           style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">Poste:</label>
                                    <select id="positionSort" name="position"
                                            class="custom-select"></select>
                                </div>
                                <button id="resetButton" type="button"
                                        class="btn btn-secondary" style="margin: 1%;">Réinitialiser
                                </button>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <label class="mr-2"
                                       style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">De:</label>
                                <input type="date" id="startDateFrom" style="width: 150px;"
                                       class="form-control mr-2"> <label for="endDateTo"
                                                                         class="mr-2"
                                                                         style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">A:</label>
                                <input type="date" style="width: 150px;" id="endDateTo"
                                       class="form-control mr-2"> <label
                                    style="font-family: sans-serif; font-weight: normal; margin: 1%;">Télécharger le résumé de l'entretien
                                :
                            </label>
                                <button class="btn btn-success" id="excelReportButton">
                                    <i title="Interview Summary Excel Report" class="far fa-file-excel"></i>
                                </button>
                                <button class="btn btn-danger" id="pdfReportButton">
                                    <i title="Interview Summary PDF Report" class="far fa-file-pdf"></i>
                                </button>

                            </div>
                        </div>

                        <div class="table-responsive" style="min-height: 280.38px">
                            <table id="vacancyTable" class="table table-hover display"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Poste</th>
                                    <th>Nombre de poste</th>
                                    <th>Date de début
                                    </th>
                                    <th>Date de fin
                                    </th>
                                    <th>Contrat</th>
                                    <th>Statut</th>
                                    <th class="text-center">Actions</th>
                                    <th class="text-center">Télécharger</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main panel end-->

        <!-- Cancel Confirmation -->

        <div id="confirmationModal" class="modal fade" tabindex="-1"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir fermer ce poste ?</p>
                        <p>Vous ne pouvez pas annuler cette action après confirmation
                            .</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary"
                                data-dismiss="modal">Annulere</button>
                        <button type="button" class="btn btn-sm btn-danger"
                                id="confirmDeleteBtn">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cancel Confirmation -->
        <!-- Reopen Confirmation -->
        <div id="reopeningModal" class="modal fade" tabindex="-1"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Veuillez choisir comment vous souhaitez rouvrir ce poste vacant ?</p>
                        <p class="text-danger">* Choisir  <b>Rouvrir </b> rouvrira automatiquement le poste vacant avec les données récentes
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary"
                                data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-sm btn-primary"
                                id="editReopenBtn">Modifier et rouvrir
                        </button>
                        <button type="button" class="btn btn-sm btn-primary"
                                id="confirmReopenBtn">rouvrir</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reopen Confirmation -->
    </div>
</div>
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"></script>
<script
        th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/Chart.roundedBarCharts.js}"></script>
<!-- Stomp -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- SockJS -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<!-- Stomp -->
<script th:src="@{/javascripts/web_socket.js}"></script>
<!-- Other scripts -->
<script th:src="@{/javascripts/vacancy_table.js}"></script>
<script th:src="@{/javascripts/data-table-config.js}"></script>
<!-- End custom js for this page-->
</body>

</html>