<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BFI Tech</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/css/general/interview.css" rel="stylesheet">
<link href="/css/general/virtual-select.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
<link rel="stylesheet"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
<link rel="stylesheet"
	th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
<link rel="stylesheet"
	th:href="@{/vendors/ti-icons/css/themify-icons.css}">
<link rel="stylesheet" type="text/css"
	href="@{/js/select.dataTables.min.css}">
<link rel="stylesheet" th:href="@{/css/vertical-layout-light/style.css}">
<link rel="shortcut icon" th:href="@{/images/logo-BFI.png}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
.status-badge {
	display: inline-flex;
	align-items: center;
	padding: 6px 16px;
	border-radius: 50px;
	font-size: 10px;
	text-transform: uppercase;
	background-size: cover;
	color: #fff;
}

.status-received {
	background-color: #ffc107; /* Yellow */
}

.status-viewed {
	background-color: #6c757d; /* Grey */
}

.status-considering {
	background-color: #28a745; /* Green */
}

.status-decline {
	background-color: #dc3545; /* Red */
}

.stage-info {
	background-color: #17a2b8; /* Blue */
}

.custom-select select:focus {
	outline: none;
	border-color: #007bff;
}
</style>
</head>
<body>
	<div class="container-scroller">
		<div th:replace="fragments/topbar :: topbar"></div>
		<div class="page-body-wrapper">
			<div th:replace="fragments/sidebar :: sidebar"></div>
			<div class="main-panel">
				<div class="content-wrapper">
					<!-- Bootstrap Alert Notification -->
					<div class="alert alert-success alert-dismissible fade show"
						role="alert" id="successAlert" style="display: none;">
						succès!
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<h4 class="card-title"
						style="padding-bottom: 5px; border-bottom: 2px solid #ccc;">Liste des entretiens</h4>
					<div class="mb-3 mt-3 d-flex align-items-center">
						<div class="d-flex align-items-center">
							<label class="mr-2"
								style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">Statut:</label>
							<select id="interviewStatusSelect" class="custom-select mr-2">
								<option value="All">tous</option>
								<option value="Reached">Atteint</option>
								<option value="Cancel">Annulé</option>
								<option value="Pending">En attente</option>
								<option value="Passed">Passé</option>
							</select>
						</div>
						<div class="d-flex align-items-center">
							<label class="mr-2"
								style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">Etape:</label>
							<select id="interviewStageSelect" class="custom-select mr-2">
								<option value="All">Tous</option>
								<option value="1">Entretien commercial pré-qualificatif</option>
								<option value="2">Entretien technique</option>
								<option value="3">Entretien final</option>
							</select>
						</div>
						<div class="d-flex align-items-center">
							<label class="mr-2"
								style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">Poste:</label>
							<select id="positionSort" name="position"
								class="custom-select mr-2"></select>
						</div>
						<div class="d-flex align-items-center">
							<label class="mr-2"
								style="font-family: sans-serif; font-weight: normal; margin-top: 1%;">Contrat:</label>
							<select id="departmentSort" name="department"
								class="custom-select mr-2"></select>
						</div>
						<button id="resetButton" type="button" class="btn btn-secondary">Réinitialiser</button>
					</div>



					<div class="table-responsive">
						<table class="table table-hover " id="candidateTable"
							style="width: 100%;">
							<thead>
								<tr>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Nom</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Poste vacant</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Type de contrat</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Main-Tech</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Date de soumission</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Exp</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Statut de l'entretien</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Etape de l'entretien</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Action de l'entretien</th>
									<th class="text-center text-wrap"
										style="vertical-align: middle;">Détails</th>

								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>

				</div>
				<!-- Review Model -->
				<div class="modal fade" tabindex="-1" role="dialog" id="reviewModal">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Ajouter un avis</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="reviewText">Entrer votre avis:</label>
										<textarea class="form-control" id="reviewText" rows="4"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary"
									id="submitReviewButton">Envoyer avis</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Annuler</button>
							</div>
						</div>
					</div>
				</div>


				<!-- Review Model -->

				<!-- Ask Email Sent -->
				<!-- Success Modal -->
				<div class="modal fade" id="successModal" tabindex="-1"
					role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Succès</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>
									Voulez-vous envoyer un e-mail à
									<span id="candidateName"></span>?
								</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="sendEmailBtn">Envoyer un e-mail</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Annuler</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Ask Email Sent -->

				<!-- Interview Error Model -->

				<div class="modal fade" id="warningModal" tabindex="-1"
					role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Avertissement
								</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p id="warningMessage"></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>


				<!-- Interview Error Model -->

				<!-- Interview status change mode with radio -->
				<!-- Modal box -->
				<div class="modal fade" tabindex="-1" role="dialog" id="statusModal">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Sélectionnez la statut:</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="statusForm">
									<div class="alert alert-danger" id="errorMessage"
										style="display: none; text-align: center;">Veuillez choisir les valeurs! </div>
									<div class="form-group">
										<label for="interviewDate"
											style="font-family: sans-serif; font-weight: normal;">Date de l'entretien
										</label> <input type="date" class="form-control"
											id="interviewDate">
									</div>
									<hr>
									<div class="form-check">
										<input type="radio" class="form-input" name="status"
											value="Passed" id="statusPassed"> <label
											class="form-label" for="statusPassed"
											style="font-family: sans-serif; font-weight: normal;">Passé</label>
									</div>
									<div class="form-check">
										<input type="radio" class="form-input" name="status"
											value="Pending" id="statusPending"> <label
											class="form-label" for="statusPending"
											style="font-family: sans-serif; font-weight: normal;">Attendez pour le prochain entretien
									</label>
									</div>
									<div class="form-check">
										<input type="radio" class="form-input" name="status"
											value="Cancel" id="statusCancel"> <label
											class="form-label" for="statusCancel"
											style="font-family: sans-serif; font-weight: normal;">Annuler (Rejet/Échec de l'entretien)
									</label>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="confirmButton">Confirmer</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Annuler</button>
							</div>
						</div>
					</div>
				</div>


				<!-- Interview status change mode with radio -->


				<!-- Modal for Confirmation -->
				<div class="modal fade" id="confirmationModal" tabindex="-1"
					role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Confirmation</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Etes-vous sûr de vouloir changer le statut du candidat à "<span
									id="statusName"></span>"?
							</div>
							<div class="modal-footer">
								<button type="button" id="cancelStatusChange"
									class="btn btn-secondary" data-dismiss="modal">Annuler</button>
								<button type="button" class="btn btn-primary"
									id="confirmStatusChange">OK</button>
							</div>
						</div>
					</div>
				</div>
				<!--  Model confirm end -->
				<!-- The modal markup -->
				<div class="modal fade" id="updateModel" tabindex="-1"
					aria-labelledby="updateModelLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="updateModelLabel">Détails du candidat</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<!-- The content of the candidate details will be filled here -->
								<p>ID:</p>
								<p>Nom:</p>
								<p>Date de naissance:</p>
								<p>Poste vacant:</p>
								<p>Technologie principale:</p>
								<p>Experience:</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Detail Model end here -->

			</div>
		</div>
	</div>


	<!--  Javascript for table functions -->

	<!-- plugins:js -->
	<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
	<script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"></script>
	<script
		th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
	<script th:src="@{/js/dataTables.select.min.js}"></script>

	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script th:src="@{/js/off-canvas.js}"></script>
	<script th:src="@{/js/hoverable-collapse.js}"></script>
	<script th:src="@{/js/template.js}"></script>
	<script th:src="@{/js/settings.js}"></script>
	<script th:src="@{/js/todolist.js}"></script>
	<script th:src="@{/javascripts/interviewer-candidate-table.js}"></script>
	<script th:src="@{/javascripts/data-table-config.js}"></script>
	<!-- Stomp -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<!-- SockJS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<!-- Stomp -->
	<script th:src="@{/javascripts/web_socket.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script th:src="@{/js/dashboard.js}"></script>
	<script th:src="@{/js/Chart.roundedBarCharts.js}"></script>
	<script th:src="@{/javascripts/sidebar-active.js}"></script>
</body>
</html>