<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tanda - IT Solutions Template">

    <!-- ========== Page Title ========== -->
    <title>BFI | TECH</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/themify-icons.css}" rel="stylesheet" />
    <link th:href="@{/css/flaticon-set.css}" rel="stylesheet" />
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet" />
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet" />
    <link th:href="@{/css/animate.css}" rel="stylesheet" />
    <link th:href="@{/css/bootsnav.css}" rel="stylesheet" />
    <link th:href="@{/css/vertical-layout-light/stylebfi.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet"  />
    <script src="https://kit.fontawesome.com/396c9db2ed.js" crossorigin="anonymous"></script>
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="srs/main/resources/static/js/html5/html5shiv.min.js"></script>
    <script src="srs/main/resources/static/js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Start Header Top
============================================= -->
<div class="top-bar-area inc-pad bg-theme text-light">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6 info">
                <ul>
                    <li>
                        <i class="fas fa-map-marker-alt"></i> Paris, FRANCE

                        11 Rue de Lourmel
                    </li>
                    <li>
                        <i class="fas fa-envelope-open"></i> service@bfi-tech.fr
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 text-right item-flex">
                <!-- <div class="info">
                    <ul>
                        <li>
                            <i class="fas fa-clock"></i> Office Hours: 8:00 AM – 7:45 PM
                        </li>
                    </ul>
                </div> -->
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/BfiTechFRANCE" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/company/bfi-tech" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Top -->


<!-- Header
============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default active-border navbar-sticky bootsnav">

        <div class="container">

            <!-- Start Atribute Navigation -->
            <div class="attr-nav inc-border">
                <ul>
                    <li class="contact">
                        <i class="fas fa-phone"></i>
                        <p>Nous Contacter! <strong>+33 (0) 64 61 38 20 2</strong></p>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img th:src="@{/images/logo.webp}" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                    <li >
                        <a href="#home" class="dropdown-toggle active" data-toggle="dropdown" >Accueil</a>

                    </li>
                    <li >
                        <a href="#about" class="dropdown-toggle" data-toggle="dropdown" >A propos</a>

                    </li>
                    <li >
                        <a href="#services" class="dropdown-toggle" data-toggle="dropdown" >Services</a>

                    </li>
                    <li >
                        <a href="#contact" class="dropdown-toggle" data-toggle="dropdown" >Contact</a>

                    </li>
                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-standard.html">Blog Standard</a></li>
                            <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                            <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                            <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                            <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->

<!-- Start Banner
 ============================================= -->
<div class="banner-area auto-height text-color bg-gray inc-shape">
    <div class="item">
        <div class="container">
            <div class="row align-center">

                <div class="col-lg-6">
                    <div class="content">
                        <h2 class="wow fadeInDown">UN VÉRITABLE  <strong> SPÉCIALISTE </strong> DE L&apos;ENGAGEMENT DE RÉSULTAT ET DU MODÈLE SERVICE TO BUSINESS</h2>
                        <p class="wow fadeInLeft">
                            Avec notre démarche qualité et nos consultants, nous possédons une expertise de premier plan dans le business-on-line, ce qui nous place dans les premiers rangs consultés par les clients..
                        </p>
                        <a class="btn circle btn-theme effect btn-md wow fadeInUp" href="#">EN SAVOIR PLUS<i class="fas fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 thumb">
                    <img class="wow fadeInUp" th:src="@{/images/thumb/woman.webp}" alt="Thumb">
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Star About Area
============================================= -->
<div class="about-area inc-shape default-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="thumb">
                    <img th:src="@{/images/about/1.jpg}" alt="Thumb">
                    <img th:src="@{/images/about/2.jpg}" alt="Thumb">
                    <div class="overlay">
                        <div class="content">
                            <h4>Notre expertise à votre service</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 info">
                <h2 class="text-uppercase ">A Propos BFI TECH</h2>
                <p class="text-justify">
                    En tant que Partenaire privilégié, BFI TECH est leader dans son domaine par son efficacité et performance autour des solutions Microsoft
                    (Développement Web, Desktop, BI, Sharepoint, CRM, Azur, … ),
                    nous accompagnons, conseillons, guidons et dirigeons vos projets en visant l’efficience. Notre mission est de vous assister à créer une structure informatique
                    agile et flexible pour répondre à vos besoins
                </p>


            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<!-- Start Features
============================================= -->
<div class="features-area overflow-hidden bg-gray default-padding">
    <!-- Fixed Shpae  -->
    <div class="fixed-shape shape left bottom">
        <img th:src="@{/images/shape/3.png}" alt="Shape">
    </div>
    <!-- End Fixed Shpae  -->
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-5 why-us">
                <h5>Pourquoi BFI TECH? </h5>
                <h2>Des solutions personnalisées pour votre entreprise</h2>
                <p>
                    Notre mission est de vous assister à créer une structure informatique agile et flexible pour répondre à vos besoins
                </p>
                <!-- <a class="popup-youtube relative theme video-play-button" href="https://www.youtube.com/watch?v=owhuBrGIOsE">
                    <i class="fa fa-play"></i> <span>Video Showcase</span>
                </a> -->
            </div>
            <div class="col-lg-7 features-box text-center">
                <div class="row">

                    <!-- Item Grid -->
                    <div class="col-lg-6 col-md-6 item-grid">
                        <!-- Single Item -->
                        <div class="item">
                            <i class="fa-solid fa-1"></i>
                            <h5><a href="#">On vous conseille</a></h5>
                            <p class="text-justify">
                                Notre vision du monde des services
                                liés aux technologies de l’information
                                est celle d’un monde porteur de progrès
                                et de performances durables.
                            </p>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <i class="fa-solid fa-2"></i>
                            <h5><a href="#">On Vous Assiste</a></h5>
                            <p class="text-justify">
                                Engagement, efficacité, rigeur et résultat
                                sont nos principales qualités.
                                <br>
                                <br>
                                <br>
                            </p>
                        </div>

                        <!-- End Single Item -->
                    </div>
                    <!-- End Item Grid -->

                    <!-- Item Grid -->
                    <div class="col-lg-6 col-md-6 item-grid">
                        <!-- Single Item -->
                        <div class="item">
                            <i class="fa-solid fa-3"></i>
                            <h5><a href="#">On Vous Accompagne</a></h5>
                            <p class="text-justify">
                                Rightshore vous pouvez sources en fonctions de vos besoins
                                vos prestations dans notre centre de service.
                                <br>
                                <br>
                            </p>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <i class="fa-solid fa-4"></i>
                            <h5><a href="#">Développement au forfait</a></h5>
                            <p>
                                Nous assurons le développement de vos applications avec une maîtrise absolue de toutes les phases projet en respectant les délais
                            </p>
                        </div>
                        <!-- End Single Item -->
                    </div>
                    <!-- End Item Grid -->

                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Features Area -->

<!-- Start Work Process
============================================= -->
<div class="work-process-area overflow-hidden default-padding bottom-less" id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4>notre processus</h4>
                    <h2 class="text-uppercase">notre façon de faire</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-full">
        <div class="work-pro-items">
            <div class="row">
                <!-- Single Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="flaticon-select"></i>
                                <span>01</span>
                            </div>
                            <h5>Choisir un service</h5>
                            <p>
                                Vous choisissez le service dont vous avez besoin dans notre liste de services.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <!-- <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="flaticon-video-call"></i>
                                <span>02</span>
                            </div>
                            <h5 >Demander une réunion</h5>
                            <p>
                                Vous sollicitez un rendez-vous par téléphone ou par e-mail.
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </div> -->
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="flaticon-strategy"></i>
                                <span>02</span>
                            </div>
                            <h5>Recevoir un plan sur mesure</h5>
                            <p>
                                Votre solution personnalisée sera mise en œuvre.
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="item-inner">
                            <div class="icon">
                                <i class="flaticon-help"></i>
                                <span>03</span>
                            </div>
                            <h5>Se rendre au travail</h5>
                            <p>
                                Nous nous mettons au travail afin de fournir les meilleurs résultats.

                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Work Process Area -->

<!-- Start Works About
============================================= -->
<div class="works-about-area overflow-hidden" id="projects">
    <div class="container">
        <div class="works-about-items default-padding">
            <div class="row align-center">
                <div class="col-lg-6 info">
                    <h5>Clients satisfaits</h5>
                    <h2>Nos clients du monde entier <br> nous font confiance.</h2>
                    <p>
                        La demande régulière de nos services est la meilleure preuve de la satisfaction de nos clients
                    </p>
                    <ul>
                        <li>
                            <h5>100% Satisfaction des client</h5>
                        </li>
                        <li>
                            <h5>100% dévouement</h5>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-6">
                    <div class="thumb">
                        <img th:src="@{/images/about/3.jpg}" alt="Thumb">
                        <div class="fun-fact">
                            <div class="timer" data-to="637" data-speed="2500"></div>
                            <span class="medium">Projets</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Works About Area -->

<!-- Start Services
============================================= -->
<div class="services-area carousel-shadow default-padding-top bg-cover" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4>Services</h4>
                    <h2>Nos Services</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="services-items services-carousel owl-carousel owl-theme text-center">
            <!-- Single Item -->
            <div class="item">
                <div class="icon">
                    <i class="fa-sharp fa-solid fa-code"></i>
                </div>
                <div class="info">
                    <h4><a href="#">Développement Au Forfait</a></h4>
                    <p class="text-justify">
                        Nous assurons le développement de vos applications avec une maîtrise absolue de toutes les phases projet en respectant les délais et surtout un succès brillant..
                    </p>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
                <div class="icon">
                    <i class="fa-sharp fa-solid fa-headset"></i>
                </div>
                <div class="info">
                    <h4><a href="#">Assisstance Technique</a></h4>
                    <p class="text-justify">
                        BFI TECH met à votre disposition des compétences de haut niveau qui vous garantissent une prestation de qualité.
                        Dans ce type de prestations, les collaborateurs<span id="dots2">...</span><span id="more2"> BFI TECH interviennent directement chez nos clients
                            au sein de leurs équipes internes en vue d'apporter leur expertise et savoir-faire
                            dans la mise en œuvre de solutions dans nos domaines d'expertises..</span>
                        <button class="text-muted" onclick="second()" id="myBtn2">Lire plus</button>
                    </p>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
                <div class="icon">
                    <i class="fa-sharp fa-solid fa-bolt"></i>
                </div>
                <div class="info">
                    <h4><a href="#">Centre De Service Nearshore</a></h4>
                    <p class="text-justify">
                        En tant que Microsoft Partner, BFI TECH utilise la méthodologie Agile
                        qui permet de trouver la bonne approche pour offrir un code livrable dans les plus bref délais<span id="dots">...</span><span id="more">
                            à des prix fixes et d’une manière souple, sensible à vos besoins et à ceux de vos utilisateurs.</span>
                        <button class="text-muted" onclick="myFunction()" id="myBtn">Lire plus</button>
                    </p>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item "style="height: 27.5rem;">
                <div class="icon">
                    <i class="fa-sharp fa-solid fa-question"></i>
                </div>
                <div class="info">
                    <h4><a href="#">Conseils</a></h4>
                    <p class="text-justify">
                        Nos experts sont à disposition pour vous donner la meilleure approche pour vos besoins.
                    </p>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <!-- End Single Item -->

        </div>
    </div>
    <!-- Fixed Shpae Bottom -->
    <div class="fixed-shape-bottom">
        <img th:src="@{/images/shape/1.svg}" alt="Shape">
    </div>
    <!-- Fixed Shpae Bottom -->
</div>
<!-- End Services Area -->

<!-- Start Quick Contact Area
============================================= -->
<div class="quick-contact-area half-bg default-padding-top" >
    <div class="container">
        <div class="quick-contact-items shadow dark bg-cover text-light" >
            <div class="row align-center">
                <div class="col-lg-8">
                    <h5 id="contact">Besoin d'aide?</h5>
                    <h2>N'hésitez pas à <strong>Nous Contacter</strong></h2>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="#contact" class="btn btn-light effect btn-md">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quick Contact Area -->

<!-- Start Case Studies Area
============================================= -->
<!-- <div class="case-studies-area half-bg default-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4>Case Studies</h4>
                    <h2>Our Work Showcase</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fill">
        <div class="case-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="thumb">
                    <img src="assets/img/portfolio/1.jpg" alt="Thumb">
                </div>
                <div class="info">
                    <div class="info-items">
                        <div class="left-info">
                            <h4>
                                <a href="#">Cyber Security</a>
                            </h4>
                            <ul>
                                <li>Technology</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <a class="item popup-gallery" href="assets/img/portfolio/1.jpg"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="assets/img/portfolio/2.jpg" alt="Thumb">
                </div>
                <div class="info">
                    <div class="info-items">
                        <div class="left-info">
                            <h4>
                                <a href="#">IT Counsultancy</a>
                            </h4>
                            <ul>
                                <li>Technology</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <a class="item popup-gallery" href="assets/img/portfolio/2.jpg"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="assets/img/portfolio/4.jpg" alt="Thumb">
                </div>
                <div class="info">
                    <div class="info-items">
                        <div class="left-info">
                            <h4>
                                <a href="#">Analysis of Security</a>
                            </h4>
                            <ul>
                                <li>Technology</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <a class="item popup-gallery" href="assets/img/portfolio/4.jpg"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="thumb">
                    <img src="assets/img/portfolio/3.jpg" alt="Thumb">
                </div>
                <div class="info">
                    <div class="info-items">
                        <div class="left-info">
                            <h4>
                                <a href="#">Social Media App</a>
                            </h4>
                            <ul>
                                <li>Technology</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <a class="item popup-gallery" href="assets/img/portfolio/3.jpg"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Case Studies Area -->

<!-- Start Fun Factor Area
============================================= -->
<!-- <div class="fun-factor-area overflow-hidden">
    <div class="container">
        <div class="fun-fact-items default-padding text-center">
            <div class="row">
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="timer" data-to="687" data-speed="5000">687</div>
                        <span class="medium">Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="timer" data-to="2348" data-speed="5000">2348</div>
                        <span class="medium">Finished Projects</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="timer" data-to="450" data-speed="5000">450</div>
                        <span class="medium">Skilled Experts</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item">
                    <div class="fun-fact">
                        <div class="timer" data-to="1200" data-speed="5000">1200</div>
                        <span class="medium">Media Posts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Fun Factor Area -->

<!-- Start Team
============================================= -->
<!-- <div class="team-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4>Expert Team</h4>
                    <h2>Meet Our Leadership</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="team-items text-center">
            <div class="row"> -->
<!-- Sngle Item -->
<!-- <div class="single-item col-lg-4 col-md-6">
    <div class="item">
        <div class="thumb">
            <img src="assets/img/team/1.jpg" alt="Thumb">
            <div class="social">
                <input type="checkbox" id="toggle" class="share-toggle" hidden>
                <label for="toggle" class="share-button">
                    <i class="fas fa-plus"></i>
                </label>
                <a href="#" class="share-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="share-icon twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="share-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="info">
            <h4>Sporia Deko</h4>
            <span>Marketing</span>
        </div>
    </div>
</div> -->
<!-- End Sngle Item -->
<!-- Sngle Item -->
<!-- <div class="single-item col-lg-4 col-md-6">
    <div class="item">
        <div class="thumb">
            <img src="assets/img/team/6.jpg" alt="Thumb">
            <div class="social">
                <input type="checkbox" id="toggle-2" class="share-toggle" hidden>
                <label for="toggle-2" class="share-button">
                    <i class="fas fa-plus"></i>
                </label>
                <a href="#" class="share-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="share-icon twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="share-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="info">
            <h4>Adhom Jonam</h4>
            <span>Project Manager</span>
        </div>
    </div>
</div> -->
<!-- End Sngle Item -->
<!-- Sngle Item -->
<!-- <div class="single-item col-lg-4 col-md-6">
    <div class="item">
        <div class="thumb">
            <img src="assets/img/team/3.jpg" alt="Thumb">
            <div class="social">
                <input type="checkbox" id="toggle-3" class="share-toggle" hidden>
                <label for="toggle-3" class="share-button">
                    <i class="fas fa-plus"></i>
                </label>
                <a href="#" class="share-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="share-icon twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="share-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="info">
            <h4>Turka Pruda</h4>
            <span>CEO, Co-Founder</span>
        </div>
    </div>
</div> -->
<!-- End Sngle Item -->
<!-- </div>
</div>
</div>
</div> -->
<!-- End Team Area -->

<!-- contact form begin -->

<div class="contact-area overflow-hidden default-padding bg-gray">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 contact-form-box">
                <div class="content">
                    <div class="heading">
                        <h2>Besoin d'aide?</h2>
                    </div>
                    <form id="contact_us" name="contact_us" action="email.php" method="post" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Nom" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email*" type="email" required>
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group comments">
                                    <textarea class="form-control" id="message" name="message" placeholder="Votre message içi" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" name="send" id="contact-button">
                                    Envoyer Message
                                </button>
                            </div>
                        </div>
                        <!-- Alert Message -->
                        <div class="col-md-12 alert-notification">
                            <div id="message" class="alert-msg"></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 info">
                <div class="contact-tabs">
                    <ul id="tabs" class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="" data-target="#tab1" data-toggle="tab" class="active nav-link">
                                Addresse
                            </a>
                        </li>

                    </ul>
                    <div id="tabsContent" class="tab-content">
                        <div id="tab1" class="tab-pane fade active show">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="info">
                                        <p>
                                            Addresse
                                            <span>" 11 Rue de Lourmel, PARIS , FRANCE "</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope-open"></i>
                                    </div>
                                    <div class="info">
                                        <p>
                                            Nous-envoyer un mail
                                            <span>service@bfi-tech.fr</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="info">
                                        <p>
                                            Nous-appeler
                                            <span>+33 (0) 64 61 38 20 2</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- contact form end -->

<!-- Start Faq
============================================= -->
<!-- <div class="faq-area default-padding bg-gray">
    <div class="container">
        <div class="faq-items">
            <div class="row">

                <div class="col-lg-5 info">
                    <h5>faq</h5>
                    <h2>Most common question about our services</h2>
                    <a class="btn btn-theme effect btn-md">Viewl All</a>
                </div>

                <div class="col-lg-7">
                    <div class="faq-content">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          <strong>?</strong> Do I need a business plan
                                    </h4>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          <strong>?</strong> How long should a business plan be
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      <strong>?</strong> Where do I start
                                  </h4>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first time achivement.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->
<!-- End Faq Area -->

<!-- Start Blog
============================================= -->
<!-- <div class="blog-area content-less default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4>Popular News</h4>
                    <h2>Latest From our blog</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="blog-items">
            <div class="row"> -->
<!-- Single Item -->
<!-- <div class="single-item col-lg-4 col-md-6">
    <div class="item">
        <div class="thumb">
            <a href="blog-single-with-sidebar.html">
                <img src="assets/img/blog/1.jpg" alt="Thumb">
            </a>
        </div>
        <div class="info">
            <div class="cats">
                <a href="#">Technology</a>
            </div>
            <div class="meta">
                <ul>
                    <li><i class="fas fa-calendar-alt"></i> 12 Aug, 2020</li>
                    <li><i class="fas fa-user"></i> By <a href="#">John Botha</a></li>
                </ul>
            </div>
            <h4>
                <a href="blog-single-with-sidebar.html">Additions in conveying or collected objection</a>
            </h4>
        </div>
    </div>
</div> -->
<!-- End Single Item -->
<!-- Single Item -->
<!-- <div class="single-item col-lg-4 col-md-6">
    <div class="item">
        <div class="thumb">
            <a href="blog-single-with-sidebar.html">
                <img src="assets/img/blog/2.jpg" alt="Thumb">
            </a>
        </div>
        <div class="info">
            <div class="cats">
                <a href="#">Firewall</a>
            </div>
            <div class="meta">
                <ul>
                    <li><i class="fas fa-calendar-alt"></i> 05 Oct, 2020</li>
                    <li><i class="fas fa-user"></i> By <a href="#">Jork Mon</a></li>
                </ul>
            </div>
            <h4>
                <a href="blog-single-with-sidebar.html">Discourse ye continued pronounce we abilities</a>
            </h4>
        </div>
    </div>
</div> -->
<!-- End Single Item -->
<!-- Single Item -->
<!-- <div class="single-item col-lg-4 col-md-6">
    <div class="item">
        <div class="thumb">
            <a href="blog-single-with-sidebar.html">
                <img src="assets/img/blog/3.jpg" alt="Thumb">
            </a>
        </div>
        <div class="info">
            <div class="cats">
                <a href="#">Security</a>
            </div>
            <div class="meta">
                <ul>
                    <li><i class="fas fa-calendar-alt"></i> 27 Dec, 2020</li>
                    <li><i class="fas fa-user"></i> By <a href="#">Spark Lee</a></li>
                </ul>
            </div>
            <h4>
                <a href="blog-single-with-sidebar.html">Children greatest online extended delicate of</a>
            </h4>
        </div>
    </div>
</div> -->
<!-- End Single Item -->
<!-- </div>
</div>
</div>
</div> -->
<!-- End Blog Area -->

<!-- Start Footer
============================================= -->
<footer class="bg-dark text-light">
    <!-- Fixed Shape -->
    <div class="fixed-shape">
        <img th:src="@{/images/map.svg}" alt="Shape">
    </div>
    <!-- Fixed Shape -->
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <img th:src="@{/images/logo-light.png}" alt="Logo">
                        <p>
                            UN VÉRITABLE SPÉCIALISTE DE L'ENGAGEMENT DE RÉSULTAT ET DU MODÈLE SERVICE TO BUSINESS
                        </p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item text-center">
                    <div class="f-item link">
                        <h4 class="widget-title">BFI TECH</h4>
                        <ul>
                            <li>
                                <a href="#about">A propos</a>
                            </li>
                            <li>
                                <a href="#services">Nos services</a>
                            </li>
                            <li>
                                <a href="#process">Notre Processus</a>
                            </li>
                            <li>
                                <a href="#projects">Nos projets</a>
                            </li>
                            <li>
                                <a href="#contact">Nous contacter</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Solutions</h4>
                        <ul>
                            <li>
                                <a href="#">IT Management</a>
                            </li>
                            <li>
                                <a href="#">Cyber Security</a>
                            </li>
                            <li>
                                <a href="#">Cloud Computing</a>
                            </li>
                            <li>
                                <a href="#">IT Consulting</a>
                            </li>
                            <li>
                                <a href="#">Software Dev</a>
                            </li>
                            <li>
                                <a href="#">Backup & Recovery</a>
                            </li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-lg-4 col-md-6 item text-center">
                    <div class="f-item">
                        <h4 class="widget-title">Contact Info</h4>
                        <div class="address">
                            <ul>
                                <li>
                                    <strong>Addresse:</strong>
                                    " 11 Rue de Lourmel, PARIS , FRANCE "
                                </li>
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:info@validtheme.com">service@bfi-tech.fr</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row d-felx justify-content-center">
                <div class="">
                    <p>Copyright &copy;  2022. <a href="#">MAYASOFT</a></p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->

<!-- jQuery Frameworks
============================================= -->
<script src="srs/main/resources/static/js/jquery-1.12.4.min.js"></script>
<script src="srs/main/resources/static/js/popper.min.js"></script>
<script src="srs/main/resources/static/js/bootstrap.min.js"></script>
<script src="srs/main/resources/static/js/equal-height.min.js"></script>
<script src="srs/main/resources/static/js/jquery.appear.js"></script>
<script src="srs/main/resources/static/js/jquery.easing.min.js"></script>
<script src="srs/main/resources/static/js/jquery.magnific-popup.min.js"></script>
<script src="srs/main/resources/static/js/modernizr.custom.13711.js"></script>
<script src="srs/main/resources/static/js/owl.carousel.min.js"></script>
<script src="srs/main/resources/static/js/wow.min.js"></script>
<script src="srs/main/resources/static/js/progress-bar.min.js"></script>
<script src="srs/main/resources/static/js/isotope.pkgd.min.js"></script>
<script src="srs/main/resources/static/js/imagesloaded.pkgd.min.js"></script>
<script src="srs/main/resources/static/js/count-to.js"></script>
<script src="srs/main/resources/static/js/YTPlayer.min.js"></script>
<script src="srs/main/resources/static/js/jquery.nice-select.min.js"></script>
<script src="srs/main/resources/static/js/bootsnav.js"></script>
<script src="srs/main/resources/static/js/main.js"></script>
<script src="srs/main/resources/static/js/hichem"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#contact_us').on('submit', function(e) {
            e.preventDefault();

            var $this = $(this);

            var pseudo = $('#pseudo').val();
            var mail = $('#mail').val();

            if(pseudo === '' || mail === '') {
                alert('Les champs doivent êtres remplis');
            } else {
                $.ajax({
                    url: $this.attr('action'),
                    type: $this.attr('method'),
                    data: $this.serialize(),
                    dataType: 'json', // JSON
                    success: function(json) {
                        if(json.reponse === 'ok') {
                            alert('Tout est bon');
                        } else {
                            alert('Erreur : '+ json.reponse);
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>